body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #575757;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 2em;
  color: #333;
  text-align: center;
}

header h2 {
  font-size: 1.2em;
  color: #666;
  text-align: center;
}

.profile-section {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-info {
  flex: 1;
}

#skills ul {
  list-style-type: square;
  padding-left: 20px;
}

/* Projects Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #333;
  color: white;
}

td {
  background-color: #f9f9f9;
}

table a {
  color: #333;
  text-decoration: underline;
}

table a:hover {
  color: #666;
}

#contact a {
  color: #333;
  text-decoration: underline;
}

#contact a:hover {
  color: #666;
}
